.topStyle {
  background: #fff;
  padding: 24px;
}
.bottomStyle {
  background: #fff;
  padding: 0 36px 12px 16px;
  margin-top: 10px;
  .leftTitle {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 6px;
  }
  .rightTitle {
    font-size: 12px;
    color: #7f7f7f;
  }
  :global {
    :where(.css-dev-only-do-not-override-12jzuas).ant-spin-nested-loading .ant-spin-container {
      max-height: 400px;
      overflow: auto;
    }
  }
}
.homeStyle {
  background: #fff;
  padding: 24px;
  :global {
    :where(.css-dev-only-do-not-override-12jzuas).ant-carousel .slick-dots-bottom {
      bottom: 24px;
    }
  }
  .hotTopic {
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    height: 296px;
    margin-top: 24px;
    padding: 10px 12px;
    .topicTitle {
      font-weight: 600;
      font-size: 18px;
      color: #1677ff;
    }
    .text {
      margin: 24px 48px 0 48px;
      max-height: 132px;
      overflow: auto;
    }
    .more {
      margin-left: 48px;
      cursor: pointer;
      &:hover {
        color: #1677ff;
      }
    }
  }
  .link {
    display: inline-block;
    width: 287px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    color: #1677ff;
    font-weight: 600;
  }
  .link1 {
    .link;
    margin: 0 16px 16px 0;
  }
  .link2 {
    .link;
    margin-right: 16px;
  }
  .dataAct {
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    margin-left: 48px;
    width: 100%;
    padding: 10px 12px;
    .dataTitle {
      font-weight: 600;
      font-size: 18px;
      color: #1677ff;
    }
    .dataText {
      margin: 8px 24px 0;
      max-height: 48px;
      overflow: auto;
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 36px;
  }
}
.topBtn {
  display: flex;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 16px;
  padding: 12px 24px;
  .detailText {
    font-size: 16px;
    font-weight: 600;
  }
}
.detailStyle {
  background: #fff;
  padding: 24px;

  .titleColor {
    height: 35px;
    background-color: #ecf5ff;
    margin-bottom: 12px;
    position: relative;
    .text {
      position: absolute;
      top: 6px;
      left: 16px;
    }
  }
  .titleStyle {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 24px;
  }
  .chart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .rdText {
    font-size: 16px;
    font-weight: 600;
  }
  .pieChart {
    display: flex;
  }
  .itemPie {
    flex: 1;
    height: 400px;
    // width: 500px;
  }
  .itemChart {
    height: 400px;
    width: 700px;
  }
  .gridCharts {
    width: 100%;
    height: 260px;
  }

  .itemMap {
    height: 600px;
    width: 600px;
  }
  .infoTitle {
    // width: 400px;
    height: 40px;
    background-color: #409eff;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    font-size: 16px;
  }
  .leftSubTitle {
    display: inline-block;
    height: 40px;
    background-color: #7cb6fb;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-radius: 5px;
    width: 50%;
  }
  .deviceList {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 4px;
  }

  .deviceItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90px;
    height: 90px;
    background-color: #f0f4ff;
    border-radius: 5px;
  }

  .deviceName {
    font-size: 14px;
    color: #1890ff;
  }
  .deviceCount {
    font-size: 18px;
  }
  .softItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60px;
    background-color: #f0f4ff;
    border-radius: 5px;
    margin-left: 5px;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 16px;
  }
  .commonItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
  }
  .commonItemTitle {
    border-bottom: 1px solid #d7d7d7;
    height: 36px;
    width: 100%;
    line-height: 36px;
  }
  .item {
    .commonItem;
    height: 300px;
    .itemTitle {
      .commonItemTitle;
      text-align: center;
    }
    .textArea {
      max-height: 260px;
      overflow: auto;
      padding: 3px 0 3px 3px;
    }
  }
  .tableArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 16px;
    .tableItem {
      .commonItem;
      max-height: 600px;
      overflow-y: auto;
      .itemTitle {
        .commonItemTitle;
        text-align: center;
      }
      .footerItem {
        .commonItemTitle;
        display: flex;
        justify-content: space-between;
        .footerTitle {
          font-weight: 600;
          padding-left: 12px;
        }
        .moreText {
          color: #1677ff;
          padding-right: 12px;
          cursor: pointer;
        }
      }
      .textStyle {
        // width: 99%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .newsArea {
        padding: 12px;
        .timeStyle {
          text-align: right;
          color: #adacac;
        }
      }
    }
  }
  .area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 16px;
    .itemArea {
      // .commonItem;
      max-height: 600px;
      overflow-y: auto;
      .itemTitle {
        // border-bottom: 1px solid #d7d7d7;
        border-radius: 8px;
        height: 48px;
        width: 100%;
        line-height: 48px;
        text-align: center;
        background-color: #409eff;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
      }
      .itemText {
        border: 2px dashed #409eff;
        border-radius: 25px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .commonText {
          width: 90%;
          border-radius: 8px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          margin-bottom: 10px;
        }
        .text1 {
          .commonText;
          background: #9ccbf7;
          margin-top: 10px;
          font-size: 16px;
          font-weight: 600;
        }
        .text2 {
          .commonText;
          background: #dbeaf8;
        }
        .commomText3 {
          display: grid;
          gap: 10px;
          width: 90%;
          margin-bottom: 10px;
        }
        .text3 {
          .commomText3;
          grid-template-columns: repeat(3, 1fr);
        }
        .text4 {
          border-radius: 8px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          background: #f2f7fb;
          width: 100%;
        }
        .text5 {
          .commomText3;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
  .bigDataArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 16px;
    .itemArea {
      // max-height: 600px;
      // overflow-y: auto;
      .itemTitle {
        border-radius: 8px;
        height: 48px;
        width: 100%;
        line-height: 48px;
        text-align: center;
        background-color: #ecf1f5;
        color: #8b8c8d;
        font-size: 20px;
        font-weight: 600;
      }
      .itemChain {
        border: 1px solid #d7d7d7;
        border-radius: 8px;
        margin-top: 3px;
      }
    }
  }
}

.commonIcon {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
.industryStyle {
  background-color: #fff;
  padding: 24px;
  .tabTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  .tabIcon1 {
    .commonIcon;
    background: url('../../../assets/normal1.svg') center/cover no-repeat;
  }
  .checkedIcon1 {
    .commonIcon;
    background: url('../../../assets/selected1.png') center/cover no-repeat;
  }
  .tabIcon2 {
    .commonIcon;
    background: url('../../../assets/normal2.svg') center/cover no-repeat;
  }
  .tabIcon3 {
    .commonIcon;
    background: url('../../../assets/normal3.svg') center/cover no-repeat;
  }
  .tabIcon4 {
    .commonIcon;
    background: url('../../../assets/normal4.svg') center/cover no-repeat;
  }
  .tabIcon5 {
    .commonIcon;
    background: url('../../../assets/normal5.svg') center/cover no-repeat;
  }
  :global {
    :where(.css-dev-only-do-not-override-12jzuas).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      background-color: #409eff;
      padding: 10px;
      color: #fff;
      width: 100px;
      height: 100px;
    }
    :where(.css-dev-only-do-not-override-12jzuas).ant-tabs .ant-tabs-tab-btn {
      background-color: #f2f2f2;
      color: #409eff;
      padding: 10px;
      width: 100px;
      height: 100px;
    }
    :where(.css-dev-only-do-not-override-12jzuas).ant-tabs-left > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
      margin: 0;
    }
    :where(.css-dev-only-do-not-override-12jzuas).ant-tabs-left
      > .ant-tabs-content-holder
      > .ant-tabs-content
      > .ant-tabs-tabpane {
      padding: 24px 24px 0 24px;
    }
    :where(.css-dev-only-do-not-override-12jzuas).ant-tabs .ant-tabs-tab .anticon {
      margin-right: 0;
    }
  }
  .cardTitle {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .cardText {
    display: flex;
    justify-content: space-between;
  }
  .colStyle {
    padding: 8px 24px;
    height: 110px;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 10px 16px 0px rgba(20, 66, 204, 0.1);
    }
  }
}

.searchResult {
  background-color: #fff;
  padding: 24px;
  .titleColor {
    height: 35px;
    background-color: #ecf5ff;
    margin-bottom: 12px;
    position: relative;
    .text {
      position: absolute;
      top: 4px;
      left: 40px;
      font-weight: 600;
      color: #409eff;
      font-size: 16px;
    }
  }
}
.info {
  padding: 24px;
  background-color: #fff;
  .text {
    text-indent: 2em;
    line-height: 32px;
  }
}
