.title {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 0 63px 0 15px;
}
.user {
  padding: 0 16px 0 0 ;
}
.logout {
  padding-right: 24px;
}
:global {
  :where(.css-dev-only-do-not-override-12jzuas).ant-menu-light .ant-menu-item-disabled, :where(.css-dev-only-do-not-override-12jzuas).ant-menu-light>.ant-menu .ant-menu-item-disabled, :where(.css-dev-only-do-not-override-12jzuas).ant-menu-light .ant-menu-submenu-disabled, :where(.css-dev-only-do-not-override-12jzuas).ant-menu-light>.ant-menu .ant-menu-submenu-disabled {
    cursor: default;
  }
}
