.title {
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 0 63px 0 15px;
}
.user {
  padding: 0 16px 0 0;
}
.logout {
  :global {
    :where(.css-fa6a0h).ant-btn-link {
      color: #fff;
    }
    :where(.css-dev-only-do-not-override-fa6a0h).ant-btn {
      color: #fff;
    }
  }
}
:global {
  :where(.css-fa6a0h).ant-menu .ant-menu-item-disabled,
  :where(.css-fa6a0h).ant-menu .ant-menu-submenu-disabled {
    cursor: default;
  }
  :where(.css-dev-only-do-not-override-fa6a0h).ant-menu .ant-menu-item-disabled,
  :where(.css-dev-only-do-not-override-fa6a0h).ant-menu .ant-menu-submenu-disabled {
    cursor: default;
  }
  :where(.css-fa6a0h).ant-menu-dark,
  :where(.css-fa6a0h).ant-menu-dark > .ant-menu {
    background: none;
    color: #fff;
  }
  :where(.css-dev-only-do-not-override-fa6a0h).ant-menu-dark,
  :where(.css-dev-only-do-not-override-fa6a0h).ant-menu-dark > .ant-menu {
    background: none;
    color: #fff;
  }
}
